*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}




body{
  background: #0c321b;

}


.parent{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  min-height: 100vh;

}

.child{
  background: #0c2011;
  color: aliceblue;
  display: flex;
  flex-direction:column;
  justify-content: end;
  align-items: start;
  gap:20px;
  padding: 2rem;
  flex-grow: 1;
}
