@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  corner-shape: squircle;
  font-family: "Google Sans Flex", sans-serif;
  scroll-behavior: smooth;
}


::selection {
  background: #f60900;
  color: #000000;
}

.header-parent,
.parent-parent {
  padding: 0.5rem 0;
}

.parent {
  background: #000000;
  padding: 10px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 12px;
  border-radius: 50px;
  background: #161616;
}

.logo {
  display: block;
  width: 15%;
  border-radius: 50px;
}
.btn {
  display: inline-block;
  padding: 16px 50px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.875rem;
  border: none;
  box-shadow: inset 0 0 10px #0000008c;
  border-radius: 50px;
  cursor: pointer;
}

.parent-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  min-height: 80vh;
  background-color: #272525;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 20px;
  border-radius: 50px;
}

.child {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
  width: 100%;

  justify-content: center;
}

.right {
  align-items: end;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.tagline {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #f60900;
  text-transform: uppercase;
}

.desc {
  font-size: 18px;
  color: #ffffff;
  line-height: 150%;
}

.image {
  display: inline-block;
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.about {
  display: flex;
  flex-direction: row;
  background: #000000;
  color: #ffffff;
  height: 100vh;
  gap: 10px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-child {
  display: flex;
  flex-direction: column;
  background: #141414;
  width: 20%;
  border-radius: 50px;
  padding: 12px;
  gap: 1.5rem;
  height: 100%;
}

@media (min-width: 678px) {
  .parent-hero {
    flex-direction: row;
  }

  .child {
    width: 50%;
  }

  .content {
    width: 70%;
  }

  .logo {
    width: 2%;
  }
}
