
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');





*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  corner-shape:squircle;
  border-radius: 50px;
   font-family: "Google Sans Flex", sans-serif;

}




body{
  background: #909a93;

}


.parent{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  min-height: 100vh;

}

.child{
  background: #0c2011;
  color: aliceblue;
  display: flex;
  flex-direction:column;
  justify-content: end;
  align-items: start;
  gap:20px;
  padding: 2rem;
  flex-grow: 1;
}
